################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
**/Contracts/bin
**/DevChain/geth
**/DevChain/history
