html {
    margin: 0;
    height: 100%;
}

body {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0 auto;
    padding: 0;
    font-family: "Roboto", Verdana, Helvetica, sans-serif;
    height: 100%;
}

.has-hover:hover {
    background-color: #53575b;
    color: #00bcf2;
}

/*math overrides*/
.left-menu-item > .mat-list-item-content {
    padding-left: 8px !important;
    padding-right: 0px !important;
}

.left-menu-item  .mat-button {
    padding-left: 0px !important;
}

.menu-item > .mat-list-item-content {
    padding-left: 8px !important;
    padding-right: 0px !important;
}

