<div fxLayout="row" class="dialog">
    <form class="register-form" [formGroup]="registerForm" (ngSubmit)="register()" novalidate>
        <div fxFlex="30" fxLayout="column" class="header-section" fxLayoutAlign="center center">
            <span class="header-image"></span>
            <span class="header">Register</span>
        </div>
        <div fxFlex class="content" fxLayoutAlign="center center">
            <div fxLayout="column">
                <div *ngIf="showError">
                    <span class="error">{{errorMessage}}</span>
                    <ul class="error">
                        <li *ngFor="let error of errors">{{error.description}}</li>
                    </ul>
                </div>
                <nt-input controlName="userName" [formGroup]="registerForm" placeholder="User Name" hintLabel="Enter email address"></nt-input>
                <nt-input controlName="userPassword" type="password" [formGroup]="registerForm" placeholder="Password"></nt-input>
                <button type="submit" mat-raised-button class="register-button">Register</button>
            </div>
        </div>
        <div class="close-section">
            <button-icon class="close-icon" tooltip="Close" (click)="close()">close</button-icon>
        </div>
    </form>
</div>

<!-- custom validation, email and confirm email should be same -->
<!--https://toddmotto.com/reactive-formgroup-validation-angular-2-->
<!--https://scotch.io/tutorials/how-to-implement-a-custom-validator-directive-confirm-password-in-angular-2-->