.header-block {
    background-color: #00bcf2;
}

.sign-in-dialog {
    width: 400px;
    height: 300px;
    min-width: 600px;
    max-width: 95%;
}

.sign-in-dialog > .mat-dialog-container {
    padding: 0;
}

.dialog-content {
    height: 100%;
}

.sign-in-header {
    padding-top: 30px;
    font-size: 14pt;
    color: white;
}



.dialog-bar {
    min-height: 46px;
    height: 46px !important;
    background-color: rgba(67, 116, 167, 0.25);
    color: white;
    display: block;
    width: auto !important;
    margin: 0 -24px;
}

.dialog-header {
    flex: 1 1 auto;
}

.dialog-bar-buttons {
    margin: -11px -16px 0 0px;
}

.dialog-content {
    background-color: #ddd;
}


