.user-dialog {
    width: 650px;
    height: 300px;
    max-width: 95%;
}

.user-dialog > .mat-dialog-container {
    padding: 0;
}

.dialog {
    min-height: 100%;
}

.user-form {
    width: 100%;
    height: 100%;
}

.header-section {
    background-color: rgb(67, 116, 167);
    width: 180px;
    /*height: 300px;*/
}

.header {
    padding: 10px;
    font-size: 18pt;
    color: white;
}

.header-image {
    width: 160px;
    height: 160px;
    background-size: 160px 160px;
}

.content {
    padding: 17px;
    background-color: #ddd;
    /*height: 100%;*/
}

.submit-button {
    background-color: rgb(67, 116, 167);
    color: white;
    width: 100%;
}

.close-section {
    background-color: #ddd;
    color: rgb(67, 116, 167);
}
