<div fxLayout="row" class="dialog">
    <nt-form class="user-form" [formGroup]="userForm" (ntSubmit)="submitForm()">
        <div class="header-section" fxLayoutAlign="center center">
            <ng-content select="[dialog-header]"></ng-content>
        </div>
        <div fxFlex class="content" fxLayoutAlign="center center">
            <div fxLayout="column">
                <div *ngIf="showError">
                    <span class="error">{{errorMessage}}</span>
                    <ul class="error">
                        <li *ngFor="let error of errors">{{error.description}}</li>
                    </ul>
                </div>
                <ng-content select="[user-form]"></ng-content>
            </div>
        </div>
        <div class="close-section">
            <button-icon class="close-icon" tooltip="Close" (click)="close()">close</button-icon>
        </div>
    </nt-form>
</div>
