/*:host::ng-deep .has-hover:hover {
    background-color: #53575b;
}*/

.body-content {
    height: 100%;
    background-color: #282d32;
}

.left-bar {
    width: 150px;
    background-color: rgba(67,116,167,.25);
}

.layout-list {
    padding-top: 0;
}

.main-content {
    background-color: #ddd;
    width: 100%;
    margin: 0 auto;
    overflow: auto;
}
