<top-bar></top-bar>
<div fxLayout="row">
    <render-section name="menu" fxFlex="25">
        <b>Menu</b> <br />
        <a routerLink="/home">Home</a> <br />
        <a routerLink="/counter">Counter</a> <br />
        <a routerLink="/fetch-data">Fetch Data</a> <br />
        <br />
        <button type="button" mat-button (click)="testClick()">Click me!</button>
        <render-section name="layout">
            From Layout - Layout
        </render-section>
        <br />
        <render-section name="test" [hidden]="true">
            From Layout - Test
        </render-section>
    </render-section>
    <div fxFlex>
        <render-body></render-body>
    </div>
</div>
 