<div fxLayout="column" fxFill>
    <top-bar></top-bar>
    <div fxLayout="row" class="body-content">
        <render-section name="menu" class="left-bar">
            <mat-list class="layout-list">
                <mat-list-item class="left-menu-item has-hover" 
                               [ngClass]="{'left-menu-item-selected': isSelectedMenu(item.name)}"
                                *ngFor="let item of menu"
                               >
                    <a mat-button class="mat-slider-hide-last-tick" [routerLink]="item.routerUrl" 
                       fxLayoutAlign="start end" (click)="menuClick(item.name)">
                        <mat-icon class="left-menu-item-icon">{{item.iconCss}}</mat-icon>
                        <span>{{item.text}}</span>
                    </a>
                    <mat-divider class="divider"></mat-divider>
                </mat-list-item>
            </mat-list>
        </render-section>
        <div fxFlex>
            <mat-card fxFill class="main-content mat-elevation-z">
                <render-body></render-body>
            </mat-card>
        </div>
    </div>
</div>
 