<mat-list-item class="menu-item has-hover"
               [routerLinkActive]="item.routerUrl !== undefined? 'menu-item-selected': ''"
               [ngClass]="{'left': position === 'left', 'top': position === 'top', 'hover-left': position === 'left', 'hover-below': position === 'top'}">
    <a mat-button [routerLink]="item.routerUrl" 
       (click)="menuClick($event)" matTooltip="{{item.tooltip}}" matTooltipPosition="{{item.tooltipPosition}}">
        <div fxLayout="row" fxLayoutAlign="start center" class="menu-item-content">
            <div class="menu-item-icon" [ngClass]="item.iconCss"></div>
            <div class="menu-item-text">{{item.text}}</div>
        </div>
    </a>
</mat-list-item>
