.top-bar {
    height: 40px;
    position: relative;
    z-index: 22;
    background-color: #202428;
    font-size: 13px;
}

.top-bar-title {
    color: #00bcf2;
    width: 160px;
    font-size: 20px;
    padding-left: 15px;
    height: 100%;
    line-height: 40px;
}

.top-bar-menu {
    border-left: 1px solid rgba(128,128,128,.4);
    color: white;
    min-width: 40px;
}

.top-bar-button .top-bar-button-icon {
    font-size: 25px;
}

.top-bar-button-icon {
}

.top-bar-button:hover .top-bar-button-icon {
    font-size: 28px;
    margin-left: -3px;
}

