<div class="top-bar" fxLayout="row" fxLayoutAlign="start center">
    <div class="top-bar-title has-hover">0x Services</div>
    <div fxFlex>
    </div>
    <div fxLayout="row" *ngIf="profile.isAuthenticated">
        <button-icon class="top-bar-item" tooltip="Change Password" (click)="changePassword()">lock_open</button-icon>
        <button-icon class="top-bar-item" tooltip="Logout" (click)="logout()">exit_to_app</button-icon>
        <div class="avatar top-bar-item has-hover" fxLayout="row">
            <div>
                <div class="avatar-name">{{profile.user.fullName}}</div>
                <div class="avatar-username">{{profile.user.userName}}</div>
            </div>
            <img class="avatar-image" alt="" src="/images/Prasanna_Pattam.jpg">
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" *ngIf="!profile.isAuthenticated">
        <div class="top-bar-item has-hover">
            <button mat-button (click)="register()">
                Register
            </button>
        </div>
        <div class="top-bar-item has-hover">
            <button mat-button (click)="login()">
                Login
            </button>
        </div>
    </div>
</div>
