<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page - 0xServices</title>
    <base href="~/" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    <style>
        .info {
            color: #00529B;
            background-color: #BDE5F8;
        }

        .success {
            color: #4F8A10;
            background-color: #DFF2BF;
        }

        .warning {
            color: #9F6000;
            background-color: #FEEFB3;
        }

        .error {
            color: #D8000C;
            background-color: #FFBABA;
        }
    </style>
</head>
<body>
    <app asp-prerender-module="ClientApp/dist/main-server">Loading...</app>

    <script src="~/dist/vendor.js" asp-append-version="true"></script>
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
</body>
</html>
