<div fxLayout="column" fxFlexFill>
    <top-bar></top-bar>
    <div fxLayout="row" class="body-content">
        <render-section name="menu" class="left-bar">
            <mat-list class="layout-list">
                <menu-item *ngFor="let item of menu"
                      [item]="item" (ntClick)="menuClick(item.name)" 
                           [selectedMenu]="selectedMenu" position="left">

                </menu-item>
            </mat-list>
        </render-section>
        <div fxFlex>
            <mat-card fxFlexFill class="main-content mat-elevation-z">
                <render-body></render-body>
            </mat-card>
        </div>
    </div>
</div>
 