.menu-item a {
    color: #fff;
    text-decoration: none;
    text-transform: none;
    width: 95%;
    text-align: left;
    margin: 4px 0px;
    text-overflow: ellipsis;
    padding-left: 0px;
    height: 28px;
}

.menu-item a:focus {
    outline: none;
}

.menu-item > div {
    padding-left: 8px !important;
    padding-right: 0px !important;
}

.menu-item {
    display: inline-block;
    border-bottom: 1px solid rgba(255,255,255,.12);
    text-align: center;
}

.menu-item.left {
    margin-left: 5px;
    width: 100%;
}
.menu-item.hover-left:hover {
    border-left: 5px solid #00bcf2;
    margin-left: 0px;
}


.menu-item.top {
    margin-top: 5px;
    height: 40px;
    border-left: 1px solid rgba(128,128,128,.4);
}

.menu-item.hover-below:hover {
    margin-top: 9px;
    border-bottom: 5px solid #00bcf2;
}

.menu-item-selected {
    background-color: #ddd;
}

.menu-item-selected a {
    color: #000;
}

.menu-item-text {
    padding-left: 5px;
    padding-top: 3px;
}

.menu-item.left .menu-item-icon {
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
}

.menu-item.top .menu-item-icon {
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
}

.register-icon {
    width: 36px !important;
}

.change-password-icon {
    width: 39px !important;
}

.logout-icon {
    width: 35px !important;
}
